div {
  display: block;
  margin: 0 auto;

}
body{
  width 100%;
  height: 100%;
  background-color: #96939B;
}
.container {
  margin-top: 20px;
}
.item {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #145C9E;
    transition: .5s;
    border:1px solid #0B4F6C;
}
.item:hover {
  background: #364156;
  color: white;
  transition: .5s;
}
#output {
  background-color: white;
  text-align: right;
}
