/** {
  padding: 0;
  margin: 0;
}*/
div {
  background: #eee;
  display: block;
  margin: 0 auto;
}
.digit {
    padding: 25px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #dbdfe5;
}
