* {
  padding: 0;
  margin: 0;
}
.canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

div.column{
    float: left;
    width: 40px;
    height: 400px;
    border: 1px solid blue;
}

div.column div{
    width: 40px;
    height: 40px;
    border: 1px solid red;
}
.apple{
  background:red;
}
.fill{
  background:black;
}
