div.fullwidth {
  width: 100%;
}
div.container {
  height: 400px;
  width: 400px;
}
img {
  display: none;
}
.images {
  height :200px;
}
.center {
  margin: 0 auto;
  display: block;
}

.show {
  display: inline-block;
  height : 100%;
  width : 100%;
}

.portrait {
    height: 400px;
    width: 150px;
}

.landscape {
    height: 150px;
    width: 400px;
}

.square {
    height: 400px;
    width: 400px;
}
